div{
    background-color: black;
}

p{
color: pink;}

li{
    font-size: 16pt0;
}

ol li {
   font-family: 'Courier New', Courier, monospace; 
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
}
